.title{
    font-size:smaller;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px;
}
.img{
    margin: 10px;
    width: 60%;
    height: 60%;
    image-rendering: pixelated;
    
    
}
.box{
    max-width: 100%;
    max-height:100%;
    align-items: center;
    border-color: white;
    margin-top: 10px;    
}
.price{
    font-weight: bold;
    font-variant-numeric: normal;
    margin: 20px;

}
.card{
    max-width: 260px;
    max-height:400px;
    filter: drop-shadow(0 0 5px gray);
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 2px;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 20%;
}
